server:
  port: 8082

spring:
  datasource:
    url: jdbc:h2:mem:auth-db
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  secret: ThisIsASuperSecretKeyForJwtAuthService1234567890
  expiration: 3600000   # 1 hour in milliseconds
